<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /zadostno_redovalnica_gv/public/

    # Odstrani .php končnico iz URL-jev
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Prepreči neposreden dostop do .php datotek, če je zahtevan brez končnice
    RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
    RewriteRule ^ /%1 [R=301,L]
</IfModule>